.App {
  text-align: center;
}
body {
  background-color: rgb(255, 255, 255);
}
.container {
  display: flex;
}
.form {
  margin: auto;

  padding: 30px;
  /* background-color: red; */
}
.form input {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  padding: 10px;
}
.form-btn {
  font-size: 1.6rem;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin: auto 30px;
}

ul li {
  font-size: 1.5rem;
  list-style: none;
  padding: 10px;
}

li button {
  font-size: 1.6rem;
  background-color: black;
  border-radius: 5px;
  padding: 5px;

  color: rgb(255, 255, 255);
  margin: auto 30px;
  cursor: pointer;
}
